[alias]
	amend-date = commit --amend --no-edit --date=now
[commit]
	gpgsign = true
[gpg]
	format = ssh
[merge]
	ff = only
[url "git@github.com:SandroHc/"]
	insteadOf = https://github.com/SandroHc/
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = ~/.ssh/id_ed25519.pub
[pull]
	rebase = true

# use `difftastic` as the diff tool
[diff]
	external = difft --display=inline
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE" --display=inline
[pager]
    difftool = true
